{{ hostvars['openstack'].ansible_host }}   ansible_connetion={{ hostvars['openstack'].ansible_connection | default('ssh') }}  ansible_user={{ hostvars['openstack'].ansible_user | default('root') }}

[mons]
{{ hostvars['openstack'].ansible_host }}

[osds]
{{ hostvars['openstack'].ansible_host }}

[mgrs]
{{ hostvars['openstack'].ansible_host }}

[rgws]
{{ hostvars['openstack'].ansible_host }}
